@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
:root {
  --color-red: hsl(0, 100%, 66%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-violet: hsl(270, 3%, 87%);
  --color-dark-violet: hsl(279, 6%, 55%);
  --color-darken-violet: hsl(278, 68%, 11%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Space Grotesk", sans-serif;
}

main {
  display: flex;
  min-height: 100vh;
}

.left-wrapper {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  background: url("./images/bg-main-desktop.png") no-repeat center/cover;
}

.left-wrapper > div {
  width: 350px;
  transform: translateX(80px);
  position: relative;
}

.left-wrapper img {
  width: 100%;
}

.overview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 20px;
}

.circle-box {
  display: flex;
  gap: 20px;
  align-items: center;
}

.large {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}
.small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
  display: inline-block;
}

.card-numbers {
  margin-top: auto;
}

.expiry {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}
.expiry p {
  margin-left: auto;
}

.expiry h4 {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.left-wrapper .back-card-details {
  margin-top: 30px;
  transform: translateX(50%);
}

.left-wrapper .back-card-details .cvv {
  position: absolute;
  top: 43%;
  right: 12%;
  color: #fff;
}

.right-wrapper {
  background: white;
  flex-grow: 1;
  display: grid;
  place-items: center;
}

.form {
  width: 320px;
  position: relative;
  background-color: #fff;
  z-index: 10;
}

.form label {
  font-size: 14px;
  color: var(--color-darken-violet);
  margin-bottom: 10px;
  display: block;
}

.form input {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(208, 208, 208);
  outline: none;
}
.errorValue {
  color: var(--color-red);
  opacity: 0;
  transition: all 0.3s;
  height: 0px;
  width: 100%;
  text-transform: capitalize;
}
.form input:focus {
  border-color: var(--color-dark-violet);
}

.form input:invalid {
  border-color: var(--color-red);
}
.form input:invalid ~ .errorValue {
  opacity: 1;
}

.data{
  display: flex;
}

.group-input {
  display: flex;
}
.group-input > label {
  width: 50%;
}
.group-input > label[for="date"] {
  margin-right: 10px;
}
.group-input .data {
  display: flex;
  align-items: flex-start;
  gap: 0px 10px;
  flex-wrap: wrap;
}
.group-input .data input {
  width: calc(50% - 5px);
}
.form button {
  width: 100%;
  background-color: var(--color-darken-violet);
  border: none;
  padding: 10px;
  color: white;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
}

.form label {
  text-transform: uppercase;
  opacity: 0.9;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.form ::placeholder {
  opacity: 0.6;
  text-transform: capitalize;
}

.welcome {
  width: 300px;
  text-align: center;
  display: none;
  position: relative;
  z-index: 10;
}
.welcome h2 {
  text-transform: uppercase;
  margin: 10px 0px;
  color: var(--color-darken-violet);
}
.welcome p {
  color: var(--color-dark-violet);
  margin-bottom: 20px;
}
.welcome button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--color-darken-violet);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.welcomeMessage {
  display: none;
}

.display{
  display: block;
}

.welcomeMessageShow {
  display: block;
}

.display2{
  display: none;
}

.errorValue{
  word-spacing: 0;
}

@media (max-width: 760px) {
  .left-wrapper > div {
    width: 300px;
  }

  .left-wrapper .front-card-details {
    transform: translateX(40px);
  }

  .left-wrapper .back-card-details {
    transform: translateX(60px);
  }
}

@media (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  main:is(.left-wrapper, .right-wrapper) {
    width: 100%;
  }

  main .left-wrapper {
    background-image: url("./images/bg-main-mobile.png");
    height: 250px;
    width: 100%;
    align-items: flex-start;
  }

  .left-wrapper :is(.front-card-details, .back-card-details) {
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
  }

  .left-wrapper .back-card-details {
    z-index: 2;
    transform: translateX(-45%) translateY(-40px);
  }
  .left-wrapper .front-card-details {
    z-index: 3;
    transform: translateX(-70%) translateY(70px);
  }
  main .right-wrapper {
    padding: 60px 0px;
  }
}
